<form method="post" action="{{ path('disc_delete', {'discId': disc.discId}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce disque?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disc.discId) }}">
    <button class="btn btn-outline-danger ms-1">Supprimer</button>
</form>
