{% extends 'base.html.twig' %}

{% block title %}Ajouter un disque{% endblock %}

{% block body %}
    <h1 class="text-center"><u><b>Ajouter un nouveau disque :</b></u></h1>
    {{ include('disc/_form.html.twig') }}
    <a href="{{ path('disc_index') }}">back to list</a>
{% endblock %}