{% extends 'base.html.twig' %}

{% block body %}



<h1 class="text-light text-center mt-5 mb-5"><u><b>Bienvenue sur Velvet Record!</b></u> </h1>
<div class="d-flex justify-content-center mt-5">
    <img src="{{ asset('image/image_crud.png') }}" class="mt-5" alt="">
</div>
{% endblock %}